<div id="the-nav" class="nav-wrapper hidden-xs hidden-sm api-ref-nav" style="height: 100%; overflow-y: auto;">
    <ul class="api-ref-side-nav nav nav-pills nav-stacked">
        <li>
            <a href="/api-reference/avatax/rest/v2">Avatax REST API</a>
            <!-- not quite sure how to do boolean algebra in liquid syntax -->
            <div style="padding-left:10px;">
                <ul class="api-ref-side-nav-active nav nav-pills nav-stacked sub-nav">
<li><a style="overflow: hidden" href="/api/Accounts">Accounts</a></li>
<li><a style="overflow: hidden" href="/api/Addresses">Addresses</a></li>
<li><a style="overflow: hidden" href="/api/AdvancedRules">AdvancedRules</a></li>
<li><a style="overflow: hidden" href="/api/AvaFileForms">AvaFileForms</a></li>
<li><a style="overflow: hidden" href="/api/Batches">Batches</a></li>
<li><a style="overflow: hidden" href="/api/CertExpressInvites">CertExpressInvites</a></li>
<li><a style="overflow: hidden" href="/api/Certificates">Certificates</a></li>
<li><a style="overflow: hidden" href="/api/Companies">Companies</a></li>
<li><a style="overflow: hidden" href="/api/Contacts">Contacts</a></li>
<li><a style="overflow: hidden" href="/api/Customers">Customers</a></li>
<li><a style="overflow: hidden" href="/api/Definitions">Definitions</a></li>
<li><a style="overflow: hidden" href="/api/DistanceThresholds">DistanceThresholds</a></li>
<li><a style="overflow: hidden" href="/api/FilingCalendars">FilingCalendars</a></li>
<li><a style="overflow: hidden" href="/api/Filings">Filings</a></li>
<li><a style="overflow: hidden" href="/api/Free">Free</a></li>
<li><a style="overflow: hidden" href="/api/FundingRequests">FundingRequests</a></li>
<li><a style="overflow: hidden" href="/api/Items">Items</a></li>
<li><a style="overflow: hidden" href="/api/JurisdictionOverrides">JurisdictionOverrides</a></li>
<li><a style="overflow: hidden" href="/api/Locations">Locations</a></li>
<li><a style="overflow: hidden" href="/api/MultiDocument">MultiDocument</a></li>
<li><a style="overflow: hidden" href="/api/Nexus">Nexus</a></li>
<li><a style="overflow: hidden" href="/api/Notices">Notices</a></li>
<li><a style="overflow: hidden" href="/api/Notifications">Notifications</a></li>
<li><a style="overflow: hidden" href="/api/Onboarding">Onboarding</a></li>
<li><a style="overflow: hidden" href="/api/Registrar">Registrar</a></li>
<li><a style="overflow: hidden" href="/api/Reports">Reports</a></li>
<li><a style="overflow: hidden" href="/api/Settings">Settings</a></li>
<li><a style="overflow: hidden" href="/api/Subscriptions">Subscriptions</a></li>
<li><a style="overflow: hidden" href="/api/TaxCodes">TaxCodes</a></li>
<li><a style="overflow: hidden" href="/api/TaxContent">TaxContent</a></li>
<li><a style="overflow: hidden" href="/api/TaxRules">TaxRules</a></li>
<li><a style="overflow: hidden" href="/api/Transactions">Transactions</a></li>
<li><a style="overflow: hidden" href="/api/Upcs">Upcs</a></li>
<li><a style="overflow: hidden" href="/api/Users">Users</a></li>
<li><a style="overflow: hidden" href="/api/Utilities">Utilities</a></li>

                    <li>
                        <a style="color:#ff6600; overflow: hidden;" href="/api-reference/avatax/rest/v2/models">Models</a>
                    </li>
                </ul>
            </div>
        </li>
        <li>
            <a href="/api-reference/avatax/soap">Avatax SOAP API</a>
            <!-- not quite sure how to do boolean algebra in liquid syntax -->
        </li>
        <li class="older-api">
            Older APIs
            <div style="padding-left:10px;">
                <ul class="api-ref-side-nav-active nav nav-pills nav-stacked sub-nav">
                    <li>
                        <a href="/api-reference/avatax/account/soap">Avatax AccountSvc SOAP API</a>
                        <!-- not quite sure how to do boolean algebra in liquid syntax -->
                    </li>
                    <li>
                        <a href="/api-reference/avatax/rest/v1">Legacy REST API</a>
                        <!-- not quite sure how to do boolean algebra in liquid syntax -->
                    </li>
                    <li>
                        <a href="/api-reference/avatax/batch/soap">Avatax BatchSvc SOAP API</a>
                        <!-- not quite sure how to do boolean algebra in liquid syntax -->
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</div>
