<div>
    <!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
	/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">

    <div align="right"><iframe src="https://madmimi.com/signups/05295087ca434605bc702c79dc713e29/iframe" scrolling="no" frameborder="0" height="294" style="max-width: 400px; width: 100%;"></iframe></div>
    <div align="right"><h2>Subscribe via RSS! <a href="http://feeds.feedburner.com/AvalaraDeveloperBlog"><img src="/public/images/feed-icon-28x28.png"></a></h2></div> 
    </div>
</form>
</div>

<!--End mc_embed_signup-->
</div>
