<div id='the-nav' class='nav wrapper hidden-xs hidden-sm dev-guide-nav' style='height: 100%; overflow-y:auto;'>
    <h3>Chapters</h3>
    <ol>
        <li {% if page.url=="/communications/dev-guide/getting-started/" %}class="active" {% endif %}><a href="/communications/dev-guide/getting-started/">Getting Started</a>
            {% if page.chapter=="getting-started" %}
            <ol>
                <li><a href="/communications/dev-guide/getting-started/account-creation/">Account Creation</a></li>
                <li><a href="/communications/dev-guide/getting-started/authentication/">Authentication</a></li>
                <li><a href="/communications/dev-guide/getting-started/environments-endpoints/">Environments and Endpoints</a></li>
            </ol>
            {% endif %}
        </li>
        <li {% if page.url=="/communications/dev-guide/calculate-taxes/" %}class="active" {% endif %}><a href="/communications/dev-guide/calculate-taxes/">Calculate Taxes</a>
            {% if page.chapter=="calculate-taxes" %}
            <ol>   
                <li><a href="/communications/dev-guide/calculate-taxes/required-fields/">Required Fields</a></li> 
            </ol>
            {% endif %}
        </li>
        <li {% if page.url=="/communications/dev-guide/commit-uncommit/" %}class="active" {% endif %}><a href="/communications/dev-guide/commit-uncommit/">Commit/Uncommit</a>
            {% if page.chapter=="commit-uncommit" %}
            <ol>   
                <li><a href="/communications/dev-guide/commit-uncommit/commit-request/">Commit Request</a></li> 
            </ol>
            {% endif %}
        </li>
        <li {% if page.url=="/communications/dev-guide/customizing-transactions/" %}class="active" {% endif %}><a href="/communications/dev-guide/customizing-transactions/">Customizing Transactions</a>
            {% if page.chapter=="customizing-transactions" %}
            <ol>
                <li><a href="/communications/dev-guide/customizing-transactions/client-profiles/">Client Profiles</a></li>
                <li><a href="/communications/dev-guide/customizing-transactions/account-customizations/">Account Customizations</a></li>
                <li><a href="/communications/dev-guide/customizing-transactions/transaction-use-cases/">Transaction Use Cases</a></li>
                    <ol>
                        <li><a href="/communications/dev-guide/customizing-transactions/sample-transactions/simple-request/">Simple Request</a></li>
                        <li><a href="/communications/dev-guide/customizing-transactions/sample-transactions/multi-line-request/">Multi-line Request</a></li>
                        <li><a href="/communications/dev-guide/customizing-transactions/sample-transactions/jurisdiction-determination/">Jurisdiction Determination</a></li>
                        <li><a href="/communications/dev-guide/customizing-transactions/sample-transactions/exemption/">Exemptions</a></li>
                        <li><a href="/communications/dev-guide/customizing-transactions/sample-transactions/inter-intrastate/">Interstate/Intrastate Determination</a></li>
                        <li><a href="/communications/dev-guide/customizing-transactions/sample-transactions/tax-override/">Tax Override</a></li>
                        <li><a href="/communications/dev-guide/customizing-transactions/sample-transactions/safe-harbor-override/">Safe Harbor Override</a></li>
                        <li><a href="/communications/dev-guide/customizing-transactions/sample-transactions/sau/">Sales and Use</a></li>
                        <li><a href="/communications/dev-guide/customizing-transactions/sample-transactions/private-line/">Private Line</a></li>
                        <li><a href="/communications/dev-guide/customizing-transactions/sample-transactions/proration/">Proration</a></li>
                    </ol>
            </ol>
            {% endif %}
        </li>
        <li {% if page.url=="/communications/dev-guide/reference/" %}class="active" {% endif %}><a href="/communications/dev-guide/reference/">Reference</a>
            {% if page.chapter=="reference" %}
            <ol>
                <li><a href="/communications/dev-guide/reference/calc-taxes-request/">CalcTaxes Request</a></li>
                <li><a href="/communications/dev-guide/reference/company-data/">Company Data</a></li>
                <li><a href="/communications/dev-guide/reference/invoice/">Invoice</a></li>
                <li><a href="/communications/dev-guide/reference/location/">Location</a></li>
                <li><a href="/communications/dev-guide/reference/line-item/">Line Item</a></li>
                <li><a href="/communications/dev-guide/reference/tax-override/">Tax Override</a></li>
                <li><a href="/communications/dev-guide/reference/safe-harbor-override/">Safe Harbor Override</a></li>
                <li><a href="/communications/dev-guide/reference/exclusion/">Exclusion</a></li>
                <li><a href="/communications/dev-guide/reference/exemption/">Exemption</a></li>
                <li><a href="/communications/dev-guide/reference/tax-bracket/">Tax Bracket</a></li>
                <li><a href="/communications/dev-guide/reference/bridge-data/">Bridge Data</a></li>
                <li><a href="/communications/dev-guide/reference/bridge-participant/">Bridge Participant</a></li>
                <li><a href="/communications/dev-guide/reference/key-value-pair/">Key Value Pair</a></li> 
            </ol>
            {% endif %}
        </li>
    </ol>
</div>