<div id='the-nav' class='nav wrapper hidden-xs hidden-sm dev-guide-nav' style='height: 100%; overflow-y:auto;'>
    <h3>Chapters</h3>
    <ol>
        <li {% if page.url=="/avatax/dev-guide/connecting-to-avatax/" %}class="active" {% endif %}><a href="/avatax/dev-guide/getting-started-with-avatax/">Getting Started with AvaTax</a>
            {% if page.chapter=="getting-started-with-avatax" %}
            <ol>
                <li><a href="/avatax/dev-guide/getting-started-with-avatax/connecting-to-avatax/">Connecting to AvaTax</a></li>
                <li><a href="/avatax/dev-guide/getting-started-with-avatax/authentication-in-avatax/">Authentication in AvaTax</a></li>
                <li><a href="/avatax/dev-guide/getting-started-with-avatax/troubleshooting/">Troubleshooting</a></li>
                <li><a href="/avatax/dev-guide/getting-started-with-avatax/configure-your-avatax-account/">Configure your AvaTax Account</a></li>
            </ol>
            {% endif %}
        </li>
        <li {% if page.url=="/avatax/dev-guide/transactions/" %}class="active" {% endif %}><a href="/avatax/dev-guide/transactions/">Transactions</a>
        {% if page.chapter=="transactions" %}
            <ol>
                <li><a href="/avatax/dev-guide/transactions/simple-transaction/">A Simple Transaction</a></li>
                <li><a href="/avatax/dev-guide/transactions/should-i-commit/">Should I commit?</a></li>
                <li><a href="/avatax/dev-guide/transactions/document-types/">Document Types</a></li>
                <li><a href="/avatax/dev-guide/transactions/document-level-details/">Document-level Details</a></li>
                <li><a href="/avatax/dev-guide/transactions/line-items/">Line Items</a></li>
                <li><a href="/avatax/dev-guide/transactions/addresses/">Addresses</a></li>
            </ol>
            {% endif %}</li>
        <li {% if page.url=="/avatax/dev-guide/customizing-transaction/" %}class="active" {% endif %}><a href="/avatax/dev-guide/customizing-transaction/">Customizing Your Transactions</a></li>
        <li {% if page.url=="/avatax/dev-guide/reconciliation/" %}class="active" {% endif %}><a href="/avatax/dev-guide/reconciliation/">Reconciliation</a>
            {% if page.chapter=="reconciliation" %}
            <ol>
                <li><a href="/avatax/dev-guide/reconciliation/committing-a-transaction">Committing a Transaction</a></li>
                <li><a href="/avatax/dev-guide/reconciliation/modifying-a-transaction">Modifying a Transaction</a></li>
                <li><a href="/avatax/dev-guide/reconciliation/chapter-summary">Chapter Summary</a></li>
            </ol>
            {% endif %}
        </li>
        <li {% if page.url=="/avatax/dev-guide/product-taxability/" %}class="active" {% endif %}><a href="/avatax/dev-guide/product-taxability/">Product Taxability</a>
            {% if page.chapter=="product-taxability" %}
            <ol>
                <li><a href="/avatax/dev-guide/product-taxability/finding-a-tax-code/">Finding a Tax Code</a></li>
                <li><a href="/avatax/dev-guide/product-taxability/mapping-items-to-tax-code/">Mapping Items to TaxCodes</a></li>
                <li><a href="/avatax/dev-guide/product-taxability/zero-tax-due-to-product-taxability/">Zero Tax due to Product Taxability</a></li>
            </ol>
            {% endif %}
        </li>
        <li {% if page.url=="/avatax/dev-guide/discounts-and-overrides/" %}class="active" {% endif %}><a href="/avatax/dev-guide/discounts-and-overrides/">Discounts and Overrides</a>
            {% if page.chapter=="discounts-and-overrides" %}
            <ol>
                <li><a href="/avatax/dev-guide/discounts-and-overrides/overrides/">Overrides</a></li>
                <li><a href="/avatax/dev-guide/discounts-and-overrides/discounts/">Discounts</a></li>
                <li><a href="/avatax/dev-guide/discounts-and-overrides/chapter-summary/">Chapter Summary</a></li>
            </ol>
            {% endif %}
        </li>
        <li {% if page.url=="/avatax/dev-guide/shipping-and-handling/" %}class="active" {% endif %}><a href="/avatax/dev-guide/shipping-and-handling/">Shipping and Handling</a></li>
        <li{% if page.url=="/avatax/dev-guide/exemptions1/" %}class="active" {% endif %}><a href="/avatax/dev-guide/exemptions/">Exemptions</a>
            {% if page.chapter=="exemptions" %}
            <ol>
                <li><a href="/avatax/dev-guide/exemptions/zero-tax-due-to-nexus/">Zero Tax due to Nexus</a></li>
                <li><a href="/avatax/dev-guide/exemptions/states-that-do-not-collect-sales-tax/">States that do not collect sales tax</a></li>
                <li><a href="/avatax/dev-guide/exemptions/zero-tax-due-to-product-taxability/">Zero Tax due to Prodcut Taxability</a></li>
                <li><a href="/avatax/dev-guide/exemptions/exempt-due-to-certificate/">Exempt due to Certificate</a></li>
                <li><a href="/avatax/dev-guide/exemptions/exempt-due-to-entity-use-code/">Exempt due to Entity Use Code</a></li>
                <li><a href="/avatax/dev-guide/exemptions/zero-tax-using-tax-overrides/">Zero Tax using Tax Overrides</a></li>
                <li><a href="/avatax/dev-guide/exemptions/partial-exemptions/">Partial Exemptions</a></li>
                <li><a href="/avatax/dev-guide/exemptions/chapter-summary/">Chapter Summary</a></li>
            </ol>
            {% endif %}
        </li>
        <li {% if page.url=="/avatax/dev-guide/locations/" %}class="active" {% endif %}><a href="/avatax/dev-guide/locations/">Locations</a>
            {% if page.chapter=="locations" %}
            <ol>
                <li><a href="/avatax/dev-guide/locations/location-based-reporting/">About Location Based Reporting</a></li>
                <li><a href="/avatax/dev-guide/locations/using-locations/">Using Locations</a></li>
                <li><a href="/avatax/dev-guide/locations/chapter-summary">Chapter Summary</a></li>
            </ol>
            {% endif %}
        </li>
        <li {% if page.url=="/avatax/dev-guide/consumer-use-tax/" %}class="active" {% endif %}><a href="/avatax/dev-guide/consumer-use-tax/">Consumer Use Tax</a></li>
        <li {% if page.url=="/avatax/dev-guide/calculating-tax-offline/" %}class="active" {% endif %}><a href="/avatax/dev-guide/calculating-tax-offline/">Calculating Tax offline</a>
            {% if page.chapter=="calculating-tax-offline" %}
            <ol>
                <li><a href="/avatax/dev-guide/calculating-tax-offline/understanding-and-managing-messages/">Understanding and Managing Result/Error Messages</a></li>
            </ol>
            {% endif %}
        </li>
    </ol>
    <h3>Appendices</h3>
    <ul>
        <li {% if page.url=="/avatax/dev-guide/appendix-batch-files/" %}class="active" {% endif %}><a href="/avatax/dev-guide/appendix-batch-files/">Appendix: Batch Files</a></li>
        <li {% if page.url=="/avatax/dev-guide/appendix-business-development/" %}class="active" {% endif %}><a href="/avatax/dev-guide/appendix-business-development/">Appendix: Business Developement</a></li>
        <li {% if page.url=="/avatax/dev-guide/appendix-cloud-connect/" %}class="active" {% endif %}><a href="/avatax/dev-guide/appendix-cloud-connect/">Appendix: Cloud Connect</a></li>
        <li {% if page.url=="/avatax/dev-guide/appendix-global-taxes/" %}class="active" {% endif %}><a href="/avatax/dev-guide/appendix-global-taxes/">Appendix: Global Taxes</a></li>
    </ul>

    <h3><a href="/avatax/dev-guide/glossary/">Glossary</a></h3>
</div>