<div id='the-nav' class='nav wrapper hidden-xs hidden-sm dev-guide-nav' style='height: 100%; overflow-y:auto;'>
    <h3>Chapters</h3>
    <ol>
        <li {% if page.url=="/avatax/dev-guide/connecting-to-avatax/" %}class="active" {% endif %}><a href="/avatax/dev-guide/connecting-to-avatax/">Connecting to AvaTax</a></li>
        <li {% if page.url=="/avatax/dev-guide/transactions/" %}class="active" {% endif %}><a href="/avatax/dev-guide/transactions/">Transactions</a></li>
        <li {% if page.url=="/avatax/dev-guide/customizing-transaction/" %}class="active" {% endif %}><a href="/avatax/dev-guide/customizing-transaction/">Customizing Your Transactions</a></li>
        <li {% if page.url=="/avatax/dev-guide/reconciliation/" %}class="active" {% endif %}><a href="/avatax/dev-guide/reconciliation/">Reconciliation</a></li>
        <li {% if page.url=="/avatax/dev-guide/product-taxability/" %}class="active" {% endif %}><a href="/avatax/dev-guide/product-taxability/">Product Taxability</a></li>
        <li {% if page.url=="/avatax/dev-guide/discounts-and-overrides/" %}class="active" {% endif %}><a href="/avatax/dev-guide/discounts-and-overrides/">Discounts and Overrides</a></li>
        <li {% if page.url=="/avatax/dev-guide/shipping-and-handling/" %}class="active" {% endif %}><a href="/avatax/dev-guide/shipping-and-handling/">Shipping and Handling</a></li>
        <li{% if page.url=="/avatax/dev-guide/exemptions1/" %}class="active" {% endif %}><a href="/avatax/dev-guide/exemptions/">Exemptions</a>
            {% if page.chapter=="exemptions" %}
            <ol>
                <li><a href="/avatax/dev-guide/exemptions/what-cause-tax-to-be-zero/">What causes tax to be zero?</a></li>
                <li><a href="/avatax/dev-guide/exemptions/zero-tax-due-to-nexus/">Zero Tax due to Nexus</a></li>
                <li><a href="/avatax/dev-guide/exemptions/states-that-do-not-collect-sales-tax/">States that do not collect sales tax</a></li>
                <li><a href="/avatax/dev-guide/exemptions/zero-tax-due-to-product-taxability/">Zero Tax due to Prodcut Taxability</a></li>
                <li><a href="/avatax/dev-guide/exemptions/exempt-due-to-certificate/">Exempt due to Certificate</a></li>
                <li><a href="/avatax/dev-guide/exemptions/exempt-due-to-entity-use-code/">Exempt due to Entity Use Code</a></li>
                <li><a href="/avatax/dev-guide/exemptions/zero-tax-using-tax-overrides/">Zero Tax using Tax Overrides</a></li>
                <li><a href="/avatax/dev-guide/exemptions/partial-exemptions/">Partial Exemptions</a></li>
                <li><a href="/avatax/dev-guide/exemptions/chapter-summary/">Chapter Summary</a></li>
            </ol>
            {% endif %}
        </li>

        <li {% if page.url=="/avatax/dev-guide/locations/" %}class="active" {% endif %}><a href="/avatax/dev-guide/locations/">Locations</a></li>
        <li {% if page.url=="/avatax/dev-guide/consumer-use-tax/" %}class="active" {% endif %}><a href="/avatax/dev-guide/consumer-use-tax/">Consumer Use Tax</a></li>
        <li {% if page.url=="/avatax/dev-guide/calculating-tax-offline/" %}class="active" {% endif %}><a href="/avatax/dev-guide/calculating-tax-offline/">Calculating Tax offline</a></li>
    </ol>
    <h3>Appendices</h3>
    <ul>
        <li {% if page.url=="/avatax/dev-guide/appendix-batch-files/" %}class="active" {% endif %}><a href="/avatax/dev-guide/appendix-batch-files/">Appendix: Batch Files</a></li>
        <li {% if page.url=="/avatax/dev-guide/appendix-business-development/" %}class="active" {% endif %}><a href="/avatax/dev-guide/appendix-business-development/">Appendix: Business Developement</a></li>
        <li {% if page.url=="/avatax/dev-guide/appendix-cloud-connect/" %}class="active" {% endif %}><a href="/avatax/dev-guide/appendix-cloud-connect/">Appendix: Cloud Connect</a></li>
        <li {% if page.url=="/avatax/dev-guide/appendix-global-taxes/" %}class="active" {% endif %}><a href="/avatax/dev-guide/appendix-global-taxes/">Appendix: Global Taxes</a></li>
    </ul>

    <h3><a href="/avatax/dev-guide/glossary/">Glossary</a></h3>
</div>