<div class="dev-guide-nav">
    <ol>
        <li class="dev-hidden"></li>
        <li class="dev-hidden"></li>
        <li class="dev-hidden"></li>
        <li class="dev-hidden"></li>
        <li class="dev-hidden"></li>
        <li class="dev-hidden"></li>
        <li class="dev-hidden"></li>
        <li><b> Exemptions - Table of Contents</b>
            <ol>
                <li><a href="/avatax/dev-guide/exemptions1/what-cause-tax-to-be-zero/">What causes tax to be zero?</a></li>
                <li><a href="/avatax/dev-guide/exemptions1/zero-tax-due-to-nexus/">Zero Tax due to Nexus</a></li>
                <li><a href="/avatax/dev-guide/exemptions1/states-that-do-not-collect-sales-tax/">States that do not collect sales tax</a></li>
                <li><a href="/avatax/dev-guide/exemptions1/zero-tax-due-to-product-taxability/">Zero Tax due to Product Taxability</a></li>
                <li><a href="/avatax/dev-guide/exemptions1/exempt-due-to-certificate/">Exempt due to Certificate</a></li>
                <li><a href="/avatax/dev-guide/exemptions1/exempt-due-to-entity-use-code/">Exempt due to Entity Use Code</a></li>
                <li><a href="/avatax/dev-guide/exemptions1/zero-tax-using-tax-overrides/">Zero Tax using Tax Overrides</a></li>
                <li><a href="/avatax/dev-guide/exemptions1/partial-exemptions/">Partial Exemptions</a></li>
            </ol>
        </li>
    </ol>
</div>