<!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
	/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>

	 <div align="right"><iframe src="https://madmimi.com/signups/1be01f12d1504a629011ad7112321d97/iframe" scrolling="no" frameborder="0" height="294" style="max-width: 400px; width: 100%;"></iframe></div>
    <div align="right"><h2>Subscribe via RSS! <a href="http://feeds.feedburner.com/AvalaraDeveloperPatchNotes"><img src="/public/images/feed-icon-28x28.png"></a></h2></div> 
    </div>
</form>
</div>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
<!--End mc_embed_signup-->
