#console-output {
    color: #8fffa7;
}

#console-input {
    color: #8fffa7;
}

 #demo-api-details {
    padding: none;
    max-height:900px;
    overflow: auto;
 }

 h2#demo-endpoint-header{
    margin-top: 0 !important;
 }

 #demo-shortcuts {
    padding: none;
    max-height:900px;
    overflow: auto;
 }

 #demo-console-req {
    margin-bottom: 5px;
 }