{
  "swagger": "2.0",
  "info": {
    "version": "v2",
    "title": "AvaTax API",
    "description": "REST interface to Avalara's enterprise tax service, AvaTax.",
    "contact": {
      "name": "Avalara Developer Community",
      "url": "https://community.avalara.com"
    },
    "license": {
      "name": "Terms of Use",
      "url": "https://www.avalara.com/terms-of-use/"
    }
  },
  "host": "sandbox-rest.avatax.com",
  "x-production-host": "rest.avatax.com",
  "schemes": [
    "https"
  ],
  "basePath": "/",
  "paths": {
    "/api/v2/accounts/{id}/activate": {
      "post": {
        "tags": [
          "Accounts"
        ],
        "summary": "Activate an account by accepting terms and conditions",
        "description": "Activate the account specified by the unique accountId number.\r\n\r\nThis activation request can only be called by account administrators.  You must indicate \r\nthat you have read and accepted Avalara's terms and conditions to call this API.\r\n\r\nOnce you have activated your account, use the `AccountResetLicenseKey` API to generate\r\na license key for your account.\r\n\r\nIf you have not read or accepted the terms and conditions, this API call will return the\r\nunchanged account model.",
        "operationId": "ActivateAccount",
        "consumes": [
          "application/json",
          "text/json",
          "application/json-patch+json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the account to activate",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "model",
            "in": "body",
            "description": "The activation request",
            "required": false,
            "schema": {
              "$ref": "#/definitions/ActivateAccountModel"
            }
          },
          {
            "name": "$include",
            "in": "query",
            "description": "Elements to include when fetching the account",
            "required": false,
            "type": "string"
          },
          {
            "name": "X-Avalara-Client",
            "in": "header",
            "description": "Identifies the software you are using to call this API.  For more information on the client header, see [Client Headers](https://developer.avalara.com/avatax/client-headers/) .",
            "required": false,
            "type": "string",
            "default": "Swagger UI; 18.3.1-176; Custom; 1.0"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AccountModel"
            }
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "UserSecurity": [],
            "OauthSecurity": []
          }
        ]
      }
    },
    "/api/v2/accounts/{id}/configuration": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Get configuration settings for this account",
        "description": "Retrieve a list of all configuration settings tied to this account.\r\n\r\nConfiguration settings provide you with the ability to control features of your account and of your\r\ntax software.  The category names `TaxServiceConfig` and `AddressServiceConfig` are reserved for\r\nAvalara internal software configuration values; to store your own account-level settings, please\r\ncreate a new category name that begins with `X-`, for example, `X-MyCustomCategory`.\r\n\r\nAccount settings are permanent settings that cannot be deleted.  You can set the value of an\r\naccount setting to null if desired.\r\n\r\nAvalara-based account settings for `TaxServiceConfig` and `AddressServiceConfig` affect your account's\r\ntax calculation and address resolution, and should only be changed with care.",
        "operationId": "GetAccountConfiguration",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "X-Avalara-Client",
            "in": "header",
            "description": "Identifies the software you are using to call this API.  For more information on the client header, see [Client Headers](https://developer.avalara.com/avatax/client-headers/) .",
            "required": false,
            "type": "string",
            "default": "Swagger UI; 18.3.1-176; Custom; 1.0"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AccountConfigurationModel"
              }
            }
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "UserSecurity": [],
            "OauthSecurity": []
          }
        ]
      },
      "post": {
        "tags": [
          "Accounts"
        ],
        "summary": "Change configuration settings for this account",
        "description": "Update configuration settings tied to this account.\r\n\r\nConfiguration settings provide you with the ability to control features of your account and of your\r\ntax software.  The category names `TaxServiceConfig` and `AddressServiceConfig` are reserved for\r\nAvalara internal software configuration values; to store your own account-level settings, please\r\ncreate a new category name that begins with `X-`, for example, `X-MyCustomCategory`.\r\n\r\nAccount settings are permanent settings that cannot be deleted.  You can set the value of an\r\naccount setting to null if desired.\r\n\r\nAvalara-based account settings for `TaxServiceConfig` and `AddressServiceConfig` affect your account's\r\ntax calculation and address resolution, and should only be changed with care.",
        "operationId": "SetAccountConfiguration",
        "consumes": [
          "application/json",
          "text/json",
          "application/json-patch+json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "models",
            "in": "body",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AccountConfigurationModel"
              }
            }
          },
          {
            "name": "X-Avalara-Client",
            "in": "header",
            "description": "Identifies the software you are using to call this API.  For more information on the client header, see [Client Headers](https://developer.avalara.com/avatax/client-headers/) .",
            "required": false,
            "type": "string",
            "default": "Swagger UI; 18.3.1-176; Custom; 1.0"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AccountConfigurationModel"
              }
            }
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "UserSecurity": [],
            "OauthSecurity": []
          }
        ]
      }
    },
    "/api/v2/accounts/{id}/resetlicensekey": {
      "post": {
        "tags": [
          "Accounts"
        ],
        "summary": "Reset this account's license key",
        "description": "Resets the existing license key for this account to a new key.\r\n\r\nTo reset your account, you must specify the ID of the account you wish to reset and confirm the action.\r\n\r\nThis API is only available to account administrators for the account in question, and may only be called after\r\nan account has been activated by reading and accepting Avalara's terms and conditions.  To activate your account\r\nplease log onto the AvaTax website or call the `ActivateAccount` API.\r\n\r\nResetting a license key cannot be undone.  Any previous license keys will immediately cease to work when a new key is created.\r\n\r\nWhen you call this API, all account administrators for this account will receive an email with the newly updated license key.\r\nThe email will specify which user reset the license key and it will contain the new key to use to update your connectors.",
        "operationId": "AccountResetLicenseKey",
        "consumes": [
          "application/json",
          "text/json",
          "application/json-patch+json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "description": "A request confirming that you wish to reset the license key of this account.",
            "required": false,
            "schema": {
              "$ref": "#/definitions/ResetLicenseKeyModel"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the account you wish to update.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "X-Avalara-Client",
            "in": "header",
            "description": "Identifies the software you are using to call this API.  For more information on the client header, see [Client Headers](https://developer.avalara.com/avatax/client-headers/) .",
            "required": false,
            "type": "string",
            "default": "Swagger UI; 18.3.1-176; Custom; 1.0"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LicenseKeyModel"
            }
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "UserSecurity": [],
            "OauthSecurity": []
          }
        ]
      }
    },
    "/api/v2/addresses/resolve": {
      "get": {
        "tags": [
          "Addresses"
        ],
        "summary": "Retrieve geolocation information for a specified address",
        "description": "Resolve an address against Avalara's address-validation system.  If the address can be resolved, this API \r\nprovides the latitude and longitude of the resolved location.  The value 'resolutionQuality' can be used \r\nto identify how closely this address can be located.  If the address cannot be clearly located, use the \r\n'messages' structure to learn more about problems with this address.\r\nThis is the same API as the POST /api/v2/addresses/resolve endpoint.\r\nBoth verbs are supported to provide for flexible implementation.",
        "operationId": "ResolveAddress",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "line1",
            "in": "query",
            "description": "Line 1",
            "required": false,
            "type": "string"
          },
          {
            "name": "line2",
            "in": "query",
            "description": "Line 2",
            "required": false,
            "type": "string"
          },
          {
            "name": "line3",
            "in": "query",
            "description": "Line 3",
            "required": false,
            "type": "string"
          },
          {
            "name": "city",
            "in": "query",
            "description": "City",
            "required": false,
            "type": "string"
          },
          {
            "name": "region",
            "in": "query",
            "description": "State / Province / Region",
            "required": false,
            "type": "string"
          },
          {
            "name": "postalCode",
            "in": "query",
            "description": "Postal Code / Zip Code",
            "required": false,
            "type": "string"
          },
          {
            "name": "country",
            "in": "query",
            "description": "Two character ISO 3166 Country Code (see /api/v2/definitions/countries for a full list)",
            "required": false,
            "type": "string"
          },
          {
            "name": "textCase",
            "in": "query",
            "description": "selectable text case for address validation",
            "required": false,
            "type": "string",
            "enum": [
              "Upper",
              "Mixed"
            ],
            "x-enum-type": "TextCase",
            "x-enum-description": "Casing to use for validation result",
            "x-enum-value-comments": {
              "Upper": "Upper case",
              "Mixed": "Mixed Case"
            }
          },
          {
            "name": "latitude",
            "in": "query",
            "description": "Geospatial latitude measurement",
            "required": false,
            "type": "number",
            "format": "double"
          },
          {
            "name": "longitude",
            "in": "query",
            "description": "Geospatial longitude measurement",
            "required": false,
            "type": "number",
            "format": "double"
          },
          {
            "name": "X-Avalara-Client",
            "in": "header",
            "description": "Identifies the software you are using to call this API.  For more information on the client header, see [Client Headers](https://developer.avalara.com/avatax/client-headers/) .",
            "required": false,
            "type": "string",
            "default": "Swagger UI; 18.3.1-176; Custom; 1.0"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AddressResolutionModel"
            }
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "UserSecurity": [],
            "OauthSecurity": []
          }
        ]
      },
      "post": {
        "tags": [
          "Addresses"
        ],
        "summary": "Retrieve geolocation information for a specified address",
        "description": "Resolve an address against Avalara's address-validation system.  If the address can be resolved, this API \r\nprovides the latitude and longitude of the resolved location.  The value 'resolutionQuality' can be used \r\nto identify how closely this address can be located.  If the address cannot be clearly located, use the \r\n'messages' structure to learn more about problems with this address.\r\nThis is the same API as the GET /api/v2/addresses/resolve endpoint.\r\nBoth verbs are supported to provide for flexible implementation.",
        "operationId": "ResolveAddressPost",
        "consumes": [
          "application/json",
          "text/json",
          "application/json-patch+json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "description": "The address to resolve",
            "required": false,
            "schema": {
              "$ref": "#/definitions/AddressValidationInfo"
            }
          },
          {
            "name": "X-Avalara-Client",
            "in": "header",
            "description": "Identifies the software you are using to call this API.  For more information on the client header, see [Client Headers](https://developer.avalara.com/avatax/client-headers/) .",
            "required": false,
            "type": "string",
            "default": "Swagger UI; 18.3.1-176; Custom; 1.0"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AddressResolutionModel"
            }
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "UserSecurity": [],
            "OauthSecurity": []
          }
        ]
      }
    },
    "/api/v2/avafileforms": {
      "get": {
        "tags": [
          "AvaFileForms"
        ],
        "summary": "Retrieve all AvaFileForms",
        "description": "Search for specific objects using the criteria in the `$filter` parameter; full documentation is available on [Filtering in REST](http://developer.avalara.com/avatax/filtering-in-rest/) .\r\nPaginate your results using the `$top`, `$skip`, and `$orderby` parameters.",
        "operationId": "QueryAvaFileForms",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "$filter",
            "in": "query",
            "description": "A filter statement to identify specific records to retrieve.  For more information on filtering, see [Filtering in REST](http://developer.avalara.com/avatax/filtering-in-rest/) .",
            "required": false,
            "type": "string"
          },
          {
            "name": "$include",
            "in": "query",
            "description": "A comma separated list of additional data to retrieve.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "If nonzero, return no more than this number of results.  Used with $skip to provide pagination for large datasets.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "If nonzero, skip this number of results before returning data.  Used with $top to provide pagination for large datasets.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$orderBy",
            "in": "query",
            "description": "A comma separated list of sort statements in the format `(fieldname) [ASC|DESC]`, for example `id ASC`.",
            "required": false,
            "type": "string"
          },
          {
            "name": "X-Avalara-Client",
            "in": "header",
            "description": "Identifies the software you are using to call this API.  For more information on the client header, see [Client Headers](https://developer.avalara.com/avatax/client-headers/) .",
            "required": false,
            "type": "string",
            "default": "Swagger UI; 18.3.1-176; Custom; 1.0"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/FetchResult[AvaFileFormModel]"
            }
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "UserSecurity": [],
            "OauthSecurity": []
          }
        ]
      },
      "post": {
        "tags": [
          "AvaFileForms"
        ],
        "summary": "Create a new AvaFileForm",
        "description": "Create one or more AvaFileForms\r\nA 'AvaFileForm' represents a form supported by our returns team",
        "operationId": "CreateAvaFileForms",
        "consumes": [
          "application/json",
          "text/json",
          "application/json-patch+json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "models",
            "in": "body",
            "description": "The AvaFileForm you wish to create.",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AvaFileFormModel"
              }
            }
          },
          {
            "name": "X-Avalara-Client",
            "in": "header",
            "description": "Identifies the software you are using to call this API.  For more information on the client header, see [Client Headers](https://developer.avalara.com/avatax/client-headers/) .",
            "required": false,
            "type": "string",
            "default": "Swagger UI; 18.3.1-176; Custom; 1.0"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AvaFileFormModel"
              }
            }
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "UserSecurity": [],
            "OauthSecurity": []
          }
        ]
      }
    },
    "/api/v2/avafileforms/{id}": {
      "get": {
        "tags": [
          "AvaFileForms"
        ],
        "summary": "Retrieve a single AvaFileForm",
        "description": "Get the AvaFileForm object identified by this URL.",
        "operationId": "GetAvaFileForm",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The primary key of this AvaFileForm",
            "required": true,
            "type": "string"
          },
          {
            "name": "X-Avalara-Client",
            "in": "header",
            "description": "Identifies the software you are using to call this API.  For more information on the client header, see [Client Headers](https://developer.avalara.com/avatax/client-headers/) .",
            "required": false,
            "type": "string",
            "default": "Swagger UI; 18.3.1-176; Custom; 1.0"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AvaFileFormModel"
            }
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "UserSecurity": [],
            "OauthSecurity": []
          }
        ]
      },
      "put": {
        "tags": [
          "AvaFileForms"
        ],
        "summary": "Update a AvaFileForm",
        "description": "All data from the existing object will be replaced with data in the object you PUT.  \r\nTo set a field's value to null, you may either set its value to null or omit that field from the object you post.",
        "operationId": "UpdateAvaFileForm",
        "consumes": [
          "application/json",
          "text/json",
          "application/json-patch+json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the AvaFileForm you wish to update",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "model",
            "in": "body",
            "description": "The AvaFileForm model you wish to update.",
            "required": false,
            "schema": {
              "$ref": "#/definitions/AvaFileFormModel"
            }
          },
          {
            "name": "X-Avalara-Client",
            "in": "header",
            "description": "Identifies the software you are using to call this API.  For more information on the client header, see [Client Headers](https://developer.avalara.com/avatax/client-headers/) .",
            "required": false,
            "type": "string",
            "default": "Swagger UI; 18.3.1-176; Custom; 1.0"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AvaFileFormModel"
            }
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "UserSecurity": [],
            "OauthSecurity": []
          }
        ]
      },
      "delete": {
        "tags": [
          "AvaFileForms"
        ],
        "summary": "Delete a single AvaFileForm",
        "description": "Marks the existing AvaFileForm object at this URL as deleted.",
        "operationId": "DeleteAvaFileForm",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the AvaFileForm you wish to delete.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "X-Avalara-Client",
            "in": "header",
            "description": "Identifies the software you are using to call this API.  For more information on the client header, see [Client Headers](https://developer.avalara.com/avatax/client-headers/) .",
            "required": false,
            "type": "string",
            "default": "Swagger UI; 18.3.1-176; Custom; 1.0"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ErrorDetail"
              }
            }
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "UserSecurity": [],
            "OauthSecurity": []
          }
        ]
      }
    },
    "/api/v2/batches": {
      "get": {
        "tags": [
          "Batches"
        ],
        "summary": "Retrieve all batches",
        "description": "Get multiple batch objects across all companies.\r\n\r\nA batch object is a large collection of API calls stored in a compact file.\r\n\r\nSearch for specific objects using the criteria in the `$filter` parameter; \r\nfull documentation is available on [Filtering in REST](http://developer.avalara.com/avatax/filtering-in-rest/) .\r\nPaginate results using the `$top`, `$skip`, and `$orderby` parameters.\r\n\r\nWhen a batch is created, it is added to the AvaTax Batch Queue and will be \r\nprocessed as quickly as possible in the order it was received. To check the \r\nstatus of a batch, fetch the batch and retrieve the results of the batch \r\noperation.\r\n\r\nBecause the batch system processes with a degree of concurrency, and\r\nbecause of batch sizes in the queue vary, AvaTax API is unable to accurately \r\npredict when a batch will complete. If high performance processing is \r\nrequired, please use the\r\n[CreateTransaction API](https://developer.avalara.com/api-reference/avatax/rest/v2/methods/Transactions/CreateTransaction/).",
        "operationId": "QueryBatches",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "$filter",
            "in": "query",
            "description": "A filter statement to identify specific records to retrieve.  For more information on filtering, see [Filtering in REST](http://developer.avalara.com/avatax/filtering-in-rest/) .",
            "required": false,
            "type": "string"
          },
          {
            "name": "$include",
            "in": "query",
            "description": "A comma separated list of additional data to retrieve.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "If nonzero, return no more than this number of results.  Used with $skip to provide pagination for large datasets.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "If nonzero, skip this number of results before returning data.  Used with $top to provide pagination for large datasets.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$orderBy",
            "in": "query",
            "description": "A comma separated list of sort statements in the format `(fieldname) [ASC|DESC]`, for example `id ASC`.",
            "required": false,
            "type": "string"
          },
          {
            "name": "X-Avalara-Client",
            "in": "header",
            "description": "Identifies the software you are using to call this API.  For more information on the client header, see [Client Headers](https://developer.avalara.com/avatax/client-headers/) .",
            "required": false,
            "type": "string",
            "default": "Swagger UI; 18.3.1-176; Custom; 1.0"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/FetchResult[BatchModel]"
            }
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "UserSecurity": [],
            "OauthSecurity": []
          }
        ]
      }
    },
    "/api/v2/companies/{companyId}/batches": {
      "get": {
        "tags": [
          "Batches"
        ],
        "summary": "Retrieve all batches for this company",
        "description": "List all batch objects attached to the specified company.\r\n\r\nA batch object is a large collection of API calls stored in a compact file.\r\n\r\nSearch for specific objects using the criteria in the `$filter` parameter; \r\nfull documentation is available on [Filtering in REST](http://developer.avalara.com/avatax/filtering-in-rest/) .\r\nPaginate results using the `$top`, `$skip`, and `$orderby` parameters.\r\n\r\nUse [GetBatch](https://developer.avalara.com/api-reference/avatax/rest/v2/methods/Batches/GetBatch/) \r\nto retrieve the results, or check the status, of an individual batch.\r\n\r\nWhen a batch is created, it is added to the AvaTax Batch Queue and will be \r\nprocessed as quickly as possible in the order it was received. To check the \r\nstatus of a batch, fetch the batch and retrieve the results of the batch \r\noperation.\r\n\r\nBecause the batch system processes with a degree of concurrency, and\r\nbecause of batch sizes in the queue vary, AvaTax API is unable to accurately \r\npredict when a batch will complete. If high performance processing is \r\nrequired, please use the\r\n[CreateTransaction API](https://developer.avalara.com/api-reference/avatax/rest/v2/methods/Transactions/CreateTransaction/).",
        "operationId": "ListBatchesByCompany",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "The ID of the company that owns these batches",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "A filter statement to identify specific records to retrieve.  For more information on filtering, see [Filtering in REST](http://developer.avalara.com/avatax/filtering-in-rest/) .",
            "required": false,
            "type": "string"
          },
          {
            "name": "$include",
            "in": "query",
            "description": "A comma separated list of additional data to retrieve.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "If nonzero, return no more than this number of results.  Used with $skip to provide pagination for large datasets.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "If nonzero, skip this number of results before returning data.  Used with $top to provide pagination for large datasets.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$orderBy",
            "in": "query",
            "description": "A comma separated list of sort statements in the format `(fieldname) [ASC|DESC]`, for example `id ASC`.",
            "required": false,
            "type": "string"
          },
          {
            "name": "X-Avalara-Client",
            "in": "header",
            "description": "Identifies the software you are using to call this API.  For more information on the client header, see [Client Headers](https://developer.avalara.com/avatax/client-headers/) .",
            "required": false,
            "type": "string",
            "default": "Swagger UI; 18.3.1-176; Custom; 1.0"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/FetchResult[BatchModel]"
            }
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "UserSecurity": [],
            "OauthSecurity": []
          }
        ]
      },
      "post": {
        "tags": [
          "Batches"
        ],
        "summary": "Create a new batch",
        "description": "Create one or more new batch objects attached to this company.\r\n\r\nEach batch object may have one or more file objects (currently only one file is supported).\r\n\r\nWhen a batch is created, it is added to the AvaTax Batch Queue and will be \r\nprocessed as quickly as possible in the order it was received. To check the \r\nstatus of a batch, fetch the batch and retrieve the results of the batch \r\noperation.\r\n\r\nBecause the batch system processes with a degree of concurrency, and\r\nbecause of batch sizes in the queue vary, AvaTax API is unable to accurately \r\npredict when a batch will complete. If high performance processing is \r\nrequired, please use the \r\n[CreateTransaction API](https://developer.avalara.com/api-reference/avatax/rest/v2/methods/Transactions/CreateTransaction/).",
        "operationId": "CreateBatches",
        "consumes": [
          "application/json",
          "text/json",
          "application/json-patch+json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "models",
            "in": "body",
            "description": "The batch you wish to create.",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/BatchModel"
              }
            }
          },
          {
            "name": "companyId",
            "in": "path",
            "description": "The ID of the company that owns this batch.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "X-Avalara-Client",
            "in": "header",
            "description": "Identifies the software you are using to call this API.  For more information on the client header, see [Client Headers](https://developer.avalara.com/avatax/client-headers/) .",
            "required": false,
            "type": "string",
            "default": "Swagger UI; 18.3.1-176; Custom; 1.0"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/BatchModel"
              }
            }
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "UserSecurity": [],
            "OauthSecurity": []
          }
        ]
      }
    },
    "/api/v2/companies/{companyId}/batches/{batchId}/files/{id}/attachment": {
      "get": {
        "tags": [
          "Batches"
        ],
        "summary": "Download a single batch file",
        "description": "Download a single batch file identified by this URL.",
        "operationId": "DownloadBatch",
        "consumes": [],
        "produces": [
          "application/json",
          "application/octet-stream"
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "The ID of the company that owns this batch",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "batchId",
            "in": "path",
            "description": "The ID of the batch object",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "id",
            "in": "path",
            "description": "The primary key of this batch file object",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "X-Avalara-Client",
            "in": "header",
            "description": "Identifies the software you are using to call this API.  For more information on the client header, see [Client Headers](https://developer.avalara.com/avatax/client-headers/) .",
            "required": false,
            "type": "string",
            "default": "Swagger UI; 18.3.1-176; Custom; 1.0"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "format": "byte",
              "type": "file"
            }
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "UserSecurity": [],
            "OauthSecurity": []
          }
        ]
      }
    },
    "/api/v2/companies/{companyId}/batches/{id}": {
      "get": {
        "tags": [
          "Batches"
        ],
        "summary": "Retrieve a single batch",
        "description": "Get the batch object identified by this URL. A batch object is a large \r\ncollection of API calls stored in a compact file.\r\n\r\nUse this endpoint to retrieve the results or check the status of a batch.\r\n\r\nWhen a batch is created, it is added to the AvaTax Batch Queue and will be \r\nprocessed as quickly as possible in the order it was received. To check the \r\nstatus of a batch, fetch the batch and retrieve the results of the batch \r\noperation.\r\n\r\nBecause the batch system processes with a degree of concurrency, and\r\nbecause of batch sizes in the queue vary, AvaTax API is unable to accurately \r\npredict when a batch will complete. If high performance processing is \r\nrequired, please use the \r\n[CreateTransaction API](https://developer.avalara.com/api-reference/avatax/rest/v2/methods/Transactions/CreateTransaction/).",
        "operationId": "GetBatch",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "The ID of the company that owns this batch",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "id",
            "in": "path",
            "description": "The primary key of this batch",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "X-Avalara-Client",
            "in": "header",
            "description": "Identifies the software you are using to call this API.  For more information on the client header, see [Client Headers](https://developer.avalara.com/avatax/client-headers/) .",
            "required": false,
            "type": "string",
            "default": "Swagger UI; 18.3.1-176; Custom; 1.0"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BatchModel"
            }
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "UserSecurity": [],
            "OauthSecurity": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Batches"
        ],
        "summary": "Delete a single batch",
        "operationId": "DeleteBatch",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "The ID of the company that owns this batch.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the batch to delete.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "X-Avalara-Client",
            "in": "header",
            "description": "Identifies the software you are using to call this API.  For more information on the client header, see [Client Headers](https://developer.avalara.com/avatax/client-headers/) .",
            "required": false,
            "type": "string",
            "default": "Swagger UI; 18.3.1-176; Custom; 1.0"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ErrorDetail"
              }
            }
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "UserSecurity": [],
            "OauthSecurity": []
          }
        ]
      }
    },
    "/api/v2/companies/{companyId}/certexpressinvites": {
      "get": {
        "tags": [
          "CertExpressInvites"
        ],
        "summary": "List CertExpress invitations",
        "description": "Retrieve CertExpress invitations sent by this company.\r\n\r\nA CertExpression invitation allows a customer to follow a helpful step-by-step guide to provide information\r\nabout their certificates.  This step by step guide allows the customer to complete and upload the full \r\ncertificate in a convenient, friendly web browser experience.  When the customer completes their certificates,\r\nthey will automatically be recorded to your company and linked to the customer record.\r\n\r\nThe [CertExpress website](https://app.certexpress.com/home) is available for customers to use at any time.\r\nUsing CertExpress with this API will ensure that your certificates are automatically linked correctly into\r\nyour company so that they can be used for tax exemptions.\r\n\r\nUsing exemption certificates endpoints requires setup of an auditable document storage for each company that will use certificates.\r\nCompanies that do not have this storage system set up will receive the error `CertCaptureNotConfiguredError` when they call exemption\r\ncertificate related APIs.  To check if this company is set up, call `GetCertificateSetup`.  To request setup of the auditable document \r\nstorage for this company, call `RequestCertificateSetup`.",
        "operationId": "ListCertExpressInvitations",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "The unique ID number of the company that issued this invitation",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$include",
            "in": "query",
            "description": "OPTIONAL: A comma separated list of special fetch options.  \r\n            \r\n            No options are defined at this time.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "A filter statement to identify specific records to retrieve.  For more information on filtering, see [Filtering in REST](http://developer.avalara.com/avatax/filtering-in-rest/) .",
            "required": false,
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "If nonzero, return no more than this number of results.  Used with $skip to provide pagination for large datasets.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "If nonzero, skip this number of results before returning data.  Used with $top to provide pagination for large datasets.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$orderBy",
            "in": "query",
            "description": "A comma separated list of sort statements in the format `(fieldname) [ASC|DESC]`, for example `id ASC`.",
            "required": false,
            "type": "string"
          },
          {
            "name": "X-Avalara-Client",
            "in": "header",
            "description": "Identifies the software you are using to call this API.  For more information on the client header, see [Client Headers](https://developer.avalara.com/avatax/client-headers/) .",
            "required": false,
            "type": "string",
            "default": "Swagger UI; 18.3.1-176; Custom; 1.0"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/FetchResult[CertExpressInvitationModel]"
            }
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "UserSecurity": [],
            "OauthSecurity": []
          }
        ]
      }
    },
    "/api/v2/companies/{companyId}/customers/{customerCode}/certexpressinvites": {
      "post": {
        "tags": [
          "CertExpressInvites"
        ],
        "summary": "Create a CertExpress invitation",
        "description": "Creates an invitation for a customer to self-report certificates using the CertExpress website.\r\n\r\nThis invitation is delivered by your choice of method, or you can present a hyperlink to the user\r\ndirectly in your connector.  Your customer will be redirected to https://app.certexpress.com/ where\r\nthey can follow a step-by-step guide to enter information about their exemption certificates.  The\r\ncertificates entered will be recorded and automatically linked to their customer record.\r\n\r\nThe [CertExpress website](https://app.certexpress.com/home) is available for customers to use at any time.\r\nUsing CertExpress with this API will ensure that your certificates are automatically linked correctly into\r\nyour company so that they can be used for tax exemptions.\r\n\r\nUsing exemption certificates endpoints requires setup of an auditable document storage for each company that will use certificates.\r\nCompanies that do not have this storage system set up will receive the error `CertCaptureNotConfiguredError` when they call exemption\r\ncertificate related APIs.  To check if this company is set up, call `GetCertificateSetup`.  To request setup of the auditable document \r\nstorage for this company, call `RequestCertificateSetup`.",
        "operationId": "CreateCertExpressInvitation",
        "consumes": [
          "application/json",
          "text/json",
          "application/json-patch+json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "The unique ID number of the company that will record certificates",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "customerCode",
            "in": "path",
            "description": "The number of the customer where the request is sent to",
            "required": true,
            "type": "string"
          },
          {
            "name": "models",
            "in": "body",
            "description": "the requests to send out to customers",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CreateCertExpressInvitationModel"
              }
            }
          },
          {
            "name": "X-Avalara-Client",
            "in": "header",
            "description": "Identifies the software you are using to call this API.  For more information on the client header, see [Client Headers](https://developer.avalara.com/avatax/client-headers/) .",
            "required": false,
            "type": "string",
            "default": "Swagger UI; 18.3.1-176; Custom; 1.0"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CertExpressInvitationStatusModel"
              }
            }
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "UserSecurity": [],
            "OauthSecurity": []
          }
        ]
      }
    },
    "/api/v2/companies/{companyId}/customers/{customerCode}/certexpressinvites/{id}": {
      "get": {
        "tags": [
          "CertExpressInvites"
        ],
        "summary": "Retrieve a single CertExpress invitation",
        "description": "Retrieve an existing CertExpress invitation sent to a customer.\r\n\r\nA CertExpression invitation allows a customer to follow a helpful step-by-step guide to provide information\r\nabout their certificates.  This step by step guide allows the customer to complete and upload the full \r\ncertificate in a convenient, friendly web browser experience.  When the customer completes their certificates,\r\nthey will automatically be recorded to your company and linked to the customer record.\r\n\r\nThe [CertExpress website](https://app.certexpress.com/home) is available for customers to use at any time.\r\nUsing CertExpress with this API will ensure that your certificates are automatically linked correctly into\r\nyour company so that they can be used for tax exemptions.\r\n\r\nUsing exemption certificates endpoints requires setup of an auditable document storage for each company that will use certificates.\r\nCompanies that do not have this storage system set up will receive the error `CertCaptureNotConfiguredError` when they call exemption\r\ncertificate related APIs.  To check if this company is set up, call `GetCertificateSetup`.  To request setup of the auditable document \r\nstorage for this company, call `RequestCertificateSetup`.",
        "operationId": "GetCertExpressInvitation",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "The unique ID number of the company that issued this invitation",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "customerCode",
            "in": "path",
            "description": "The number of the customer where the request is sent to",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "description": "The unique ID number of this CertExpress invitation",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$include",
            "in": "query",
            "description": "OPTIONAL: A comma separated list of special fetch options.  No options are defined at this time.",
            "required": false,
            "type": "string"
          },
          {
            "name": "X-Avalara-Client",
            "in": "header",
            "description": "Identifies the software you are using to call this API.  For more information on the client header, see [Client Headers](https://developer.avalara.com/avatax/client-headers/) .",
            "required": false,
            "type": "string",
            "default": "Swagger UI; 18.3.1-176; Custom; 1.0"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CertExpressInvitationModel"
            }
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "UserSecurity": [],
            "OauthSecurity": []
          }
        ]
      }
    },
    "/api/v2/companies/{companyId}/certificates": {
      "get": {
        "tags": [
          "Certificates"
        ],
        "summary": "List all certificates for a company",
        "description": "List all certificates recorded by a company\r\n\r\nA certificate is a document stored in either AvaTax Exemptions or CertCapture.  The certificate document\r\ncan contain information about a customer's eligibility for exemption from sales or use taxes based on\r\ncriteria you specify when you store the certificate.  To view or manage your certificates directly, please \r\nlog onto the administrative website for the product you purchased.\r\n\r\nYou can use the `$include` parameter to fetch the following additional objects for expansion:\r\n\r\n* Customers - Retrieves the list of customers linked to the certificate.\r\n* PoNumbers - Retrieves all PO numbers tied to the certificate.\r\n* Attributes - Retrieves all attributes applied to the certificate.\r\n\r\nUsing exemption certificates endpoints requires setup of an auditable document storage for each company that will use certificates.\r\nCompanies that do not have this storage system set up will receive the error `CertCaptureNotConfiguredError` when they call exemption\r\ncertificate related APIs.  To check if this company is set up, call `GetCertificateSetup`.  To request setup of the auditable document \r\nstorage for this company, call `RequestCertificateSetup`.",
        "operationId": "QueryCertificates",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "The ID number of the company to search",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$include",
            "in": "query",
            "description": "OPTIONAL: A comma separated list of special fetch options.  You can specify one or more of the following:\r\n            \r\n            * Customers - Retrieves the list of customers linked to the certificate.\r\n            * PoNumbers - Retrieves all PO numbers tied to the certificate.\r\n            * Attributes - Retrieves all attributes applied to the certificate.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "A filter statement to identify specific records to retrieve.  For more information on filtering, see [Filtering in REST](http://developer.avalara.com/avatax/filtering-in-rest/) .",
            "required": false,
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "If nonzero, return no more than this number of results.  Used with $skip to provide pagination for large datasets.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "If nonzero, skip this number of results before returning data.  Used with $top to provide pagination for large datasets.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$orderBy",
            "in": "query",
            "description": "A comma separated list of sort statements in the format `(fieldname) [ASC|DESC]`, for example `id ASC`.",
            "required": false,
            "type": "string"
          },
          {
            "name": "X-Avalara-Client",
            "in": "header",
            "description": "Identifies the software you are using to call this API.  For more information on the client header, see [Client Headers](https://developer.avalara.com/avatax/client-headers/) .",
            "required": false,
            "type": "string",
            "default": "Swagger UI; 18.3.1-176; Custom; 1.0"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/FetchResult[CertificateModel]"
            }
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "UserSecurity": [],
            "OauthSecurity": []
          }
        ]
      },
      "post": {
        "tags": [
          "Certificates"
        ],
        "summary": "Create certificates for this company",
        "description": "Record one or more certificates document for this company.\r\n\r\nA certificate is a document stored in either AvaTax Exemptions or CertCapture.  The certificate document\r\ncan contain information about a customer's eligibility for exemption from sales or use taxes based on\r\ncriteria you specify when you store the certificate.  To view or manage your certificates directly, please \r\nlog onto the administrative website for the product you purchased.\r\n\r\nWhen you create a certificate, it will be processed by Avalara and will become available for use in\r\ncalculating tax exemptions when processing is complete.  For a certificate to be used in calculating exemptions,\r\nit must have the following:\r\n\r\n* A list of exposure zones indicating where the certificate is valid\r\n* A link to the customer that is allowed to use this certificate\r\n* Your tax transaction must contain the correct customer code\r\n\r\nUsing exemption certificates endpoints requires setup of an auditable document storage for each company that will use certificates.\r\nCompanies that do not have this storage system set up will receive the error `CertCaptureNotConfiguredError` when they call exemption\r\ncertificate related APIs.  To check if this company is set up, call `GetCertificateSetup`.  To request setup of the auditable document \r\nstorage for this company, call `RequestCertificateSetup`.",
        "operationId": "CreateCertificates",
        "consumes": [
          "application/json",
          "text/json",
          "application/json-patch+json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "The ID number of the company recording this certificate",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "models",
            "in": "body",
            "description": "Certificates to be created",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CertificateModel"
              }
            }
          },
          {
            "name": "X-Avalara-Client",
            "in": "header",
            "description": "Identifies the software you are using to call this API.  For more information on the client header, see [Client Headers](https://developer.avalara.com/avatax/client-headers/) .",
            "required": false,
            "type": "string",
            "default": "Swagger UI; 18.3.1-176; Custom; 1.0"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CertificateModel"
              }
            }
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "UserSecurity": [],
            "OauthSecurity": []
          }
        ]
      }
    },
    "/api/v2/companies/{companyId}/certificates/{id}": {
      "get": {
        "tags": [
          "Certificates"
        ],
        "summary": "Retrieve a single certificate",
        "description": "Get the current certificate identified by this URL.\r\n\r\nA certificate is a document stored in either AvaTax Exemptions or CertCapture.  The certificate document\r\ncan contain information about a customer's eligibility for exemption from sales or use taxes based on\r\ncriteria you specify when you store the certificate.  To view or manage your certificates directly, please \r\nlog onto the administrative website for the product you purchased.\r\n\r\nYou can use the `$include` parameter to fetch the following additional objects for expansion:\r\n\r\n* Customers - Retrieves the list of customers linked to the certificate.\r\n* PoNumbers - Retrieves all PO numbers tied to the certificate.\r\n* Attributes - Retrieves all attributes applied to the certificate.\r\n\r\nUsing exemption certificates endpoints requires setup of an auditable document storage for each company that will use certificates.\r\nCompanies that do not have this storage system set up will receive the error `CertCaptureNotConfiguredError` when they call exemption\r\ncertificate related APIs.  To check if this company is set up, call `GetCertificateSetup`.  To request setup of the auditable document \r\nstorage for this company, call `RequestCertificateSetup`.",
        "operationId": "GetCertificate",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "The ID number of the company that recorded this certificate",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "id",
            "in": "path",
            "description": "The unique ID number of this certificate",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$include",
            "in": "query",
            "description": "OPTIONAL: A comma separated list of special fetch options.  You can specify one or more of the following:\r\n            \r\n            * Customers - Retrieves the list of customers linked to the certificate.\r\n            * PoNumbers - Retrieves all PO numbers tied to the certificate.\r\n            * Attributes - Retrieves all attributes applied to the certificate.",
            "required": false,
            "type": "string"
          },
          {
            "name": "X-Avalara-Client",
            "in": "header",
            "description": "Identifies the software you are using to call this API.  For more information on the client header, see [Client Headers](https://developer.avalara.com/avatax/client-headers/) .",
            "required": false,
            "type": "string",
            "default": "Swagger UI; 18.3.1-176; Custom; 1.0"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CertificateModel"
            }
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "UserSecurity": [],
            "OauthSecurity": []
          }
        ]
      },
      "put": {
        "tags": [
          "Certificates"
        ],
        "summary": "Update a single certificate",
        "description": "Replace the certificate identified by this URL with a new one.\r\n\r\nA certificate is a document stored in either AvaTax Exemptions or CertCapture.  The certificate document\r\ncan contain information about a customer's eligibility for exemption from sales or use taxes based on\r\ncriteria you specify when you store the certificate.  To view or manage your certificates directly, please \r\nlog onto the administrative website for the product you purchased.\r\n\r\nUsing exemption certificates endpoints requires setup of an auditable document storage for each company that will use certificates.\r\nCompanies that do not have this storage system set up will receive the error `CertCaptureNotConfiguredError` when they call exemption\r\ncertificate related APIs.  To check if this company is set up, call `GetCertificateSetup`.  To request setup of the auditable document \r\nstorage for this company, call `RequestCertificateSetup`.",
        "operationId": "UpdateCertificate",
        "consumes": [
          "application/json",
          "text/json",
          "application/json-patch+json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "The ID number of the company that recorded this certificate",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "id",
            "in": "path",
            "description": "The unique ID number of this certificate",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "model",
            "in": "body",
            "description": "The new certificate object that will replace the existing one",
            "required": false,
            "schema": {
              "$ref": "#/definitions/CertificateModel"
            }
          },
          {
            "name": "X-Avalara-Client",
            "in": "header",
            "description": "Identifies the software you are using to call this API.  For more information on the client header, see [Client Headers](https://developer.avalara.com/avatax/client-headers/) .",
            "required": false,
            "type": "string",
            "default": "Swagger UI; 18.3.1-176; Custom; 1.0"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CertificateModel"
            }
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "UserSecurity": [],
            "OauthSecurity": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Certificates"
        ],
        "summary": "Revoke and delete a certificate",
        "description": "Revoke the certificate identified by this URL, then delete it.\r\n\r\nA certificate is a document stored in either AvaTax Exemptions or CertCapture.  The certificate document\r\ncan contain information about a customer's eligibility for exemption from sales or use taxes based on\r\ncriteria you specify when you store the certificate.  To view or manage your certificates directly, please \r\nlog onto the administrative website for the product you purchased.\r\n\r\nRevoked certificates can no longer be used.\r\n\r\nUsing exemption certificates endpoints requires setup of an auditable document storage for each company that will use certificates.\r\nCompanies that do not have this storage system set up will receive the error `CertCaptureNotConfiguredError` when they call exemption\r\ncertificate related APIs.  To check if this company is set up, call `GetCertificateSetup`.  To request setup of the auditable document \r\nstorage for this company, call `RequestCertificateSetup`.",
        "operationId": "DeleteCertificate",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "The unique ID number of the company that recorded this certificate",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "id",
            "in": "path",
            "description": "The unique ID number of this certificate",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "X-Avalara-Client",
            "in": "header",
            "description": "Identifies the software you are using to call this API.  For more information on the client header, see [Client Headers](https://developer.avalara.com/avatax/client-headers/) .",
            "required": false,
            "type": "string",
            "default": "Swagger UI; 18.3.1-176; Custom; 1.0"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CertificateModel"
            }
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "UserSecurity": [],
            "OauthSecurity": []
          }
        ]
      }
    },
    "/api/v2/companies/{companyId}/certificates/{id}/attachment": {
      "get": {
        "tags": [
          "Certificates"
        ],
        "summary": "Download an image for this certificate",
        "description": "Download an image or PDF file for this certificate.\r\n\r\nThis API can be used to download either a single-page preview of the certificate or a full PDF document.\r\nTo retrieve a preview image, set the `$type` parameter to `Jpeg` and the `$page` parameter to `1`.\r\n\r\nA certificate is a document stored in either AvaTax Exemptions or CertCapture.  The certificate document\r\ncan contain information about a customer's eligibility for exemption from sales or use taxes based on\r\ncriteria you specify when you store the certificate.  To view or manage your certificates directly, please \r\nlog onto the administrative website for the product you purchased.\r\n\r\nUsing exemption certificates endpoints requires setup of an auditable document storage for each company that will use certificates.\r\nCompanies that do not have this storage system set up will receive the error `CertCaptureNotConfiguredError` when they call exemption\r\ncertificate related APIs.  To check if this company is set up, call `GetCertificateSetup`.  To request setup of the auditable document \r\nstorage for this company, call `RequestCertificateSetup`.",
        "operationId": "DownloadCertificateImage",
        "consumes": [],
        "produces": [
          "application/octet-stream",
          "application/json"
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "The unique ID number of the company that recorded this certificate",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "id",
            "in": "path",
            "description": "The unique ID number of this certificate",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$page",
            "in": "query",
            "description": "If you choose `$type`=`Jpeg`, you must specify which page number to retrieve.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$type",
            "in": "query",
            "description": "The data format in which to retrieve the certificate image",
            "required": false,
            "type": "string",
            "enum": [
              "Pdf",
              "Jpeg"
            ],
            "x-enum-type": "CertificatePreviewType",
            "x-enum-description": "Type of certificate preview to download",
            "x-enum-value-comments": {
              "Pdf": "Download a full printable PDF",
              "Jpeg": "Download a single page of the certificate in JPG format"
            }
          },
          {
            "name": "X-Avalara-Client",
            "in": "header",
            "description": "Identifies the software you are using to call this API.  For more information on the client header, see [Client Headers](https://developer.avalara.com/avatax/client-headers/) .",
            "required": false,
            "type": "string",
            "default": "Swagger UI; 18.3.1-176; Custom; 1.0"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "format": "byte",
              "type": "file"
            }
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "UserSecurity": [],
            "OauthSecurity": []
          }
        ]
      },
      "post": {
        "tags": [
          "Certificates"
        ],
        "summary": "Upload an image or PDF attachment for this certificate",
        "description": "Upload an image or PDF attachment for this certificate.\r\n\r\nImage attachments can be of the format `PDF`, `JPEG`, `TIFF`, or `PNG`.  To upload a multi-page image, please\r\nuse the `PDF` data type.\r\n\r\nA certificate is a document stored in either AvaTax Exemptions or CertCapture.  The certificate document\r\ncan contain information about a customer's eligibility for exemption from sales or use taxes based on\r\ncriteria you specify when you store the certificate.  To view or manage your certificates directly, please \r\nlog onto the administrative website for the product you purchased.\r\n\r\nUsing exemption certificates endpoints requires setup of an auditable document storage for each company that will use certificates.\r\nCompanies that do not have this storage system set up will receive the error `CertCaptureNotConfiguredError` when they call exemption\r\ncertificate related APIs.  To check if this company is set up, call `GetCertificateSetup`.  To request setup of the auditable document \r\nstorage for this company, call `RequestCertificateSetup`.",
        "operationId": "UploadCertificateImage",
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "The unique ID number of the company that recorded this certificate",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "id",
            "in": "path",
            "description": "The unique ID number of this certificate",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "file",
            "in": "formData",
            "description": "The exemption certificate file you wanted to upload. Accepted formats are: PDF, JPEG, TIFF, PNG.",
            "required": true,
            "type": "file"
          },
          {
            "name": "X-Avalara-Client",
            "in": "header",
            "description": "Identifies the software you are using to call this API.  For more information on the client header, see [Client Headers](https://developer.avalara.com/avatax/client-headers/) .",
            "required": false,
            "type": "string",
            "default": "Swagger UI; 18.3.1-176; Custom; 1.0"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "string"
            }
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "UserSecurity": [],
            "OauthSecurity": []
          }
        ]
      }
    },
    "/api/v2/companies/{companyId}/certificates/{id}/attributes": {
      "get": {
        "tags": [
          "Certificates"
        ],
        "summary": "List all attributes applied to this certificate",
        "description": "Retrieve the list of attributes that are linked to this certificate.\r\n\r\nA certificate may have multiple attributes that control its behavior.  You may link or unlink attributes to a\r\ncertificate at any time.  The full list of defined attributes may be found using `/api/v2/definitions/certificateattributes`.\r\n\r\nA certificate is a document stored in either AvaTax Exemptions or CertCapture.  The certificate document\r\ncan contain information about a customer's eligibility for exemption from sales or use taxes based on\r\ncriteria you specify when you store the certificate.  To view or manage your certificates directly, please \r\nlog onto the administrative website for the product you purchased.\r\n\r\nUsing exemption certificates endpoints requires setup of an auditable document storage for each company that will use certificates.\r\nCompanies that do not have this storage system set up will receive the error `CertCaptureNotConfiguredError` when they call exemption\r\ncertificate related APIs.  To check if this company is set up, call `GetCertificateSetup`.  To request setup of the auditable document \r\nstorage for this company, call `RequestCertificateSetup`.",
        "operationId": "ListAttributesForCertificate",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "The unique ID number of the company that recorded this certificate",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "id",
            "in": "path",
            "description": "The unique ID number of this certificate",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "X-Avalara-Client",
            "in": "header",
            "description": "Identifies the software you are using to call this API.  For more information on the client header, see [Client Headers](https://developer.avalara.com/avatax/client-headers/) .",
            "required": false,
            "type": "string",
            "default": "Swagger UI; 18.3.1-176; Custom; 1.0"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/FetchResult[CertificateAttributeModel]"
            }
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "UserSecurity": [],
            "OauthSecurity": []
          }
        ]
      }
    },
    "/api/v2/companies/{companyId}/certificates/{id}/attributes/link": {
      "post": {
        "tags": [
          "Certificates"
        ],
        "summary": "Link attributes to a certificate",
        "description": "Link one or many attributes to a certificate.\r\n\r\nA certificate may have multiple attributes that control its behavior.  You may link or unlink attributes to a\r\ncertificate at any time.  The full list of defined attributes may be found using `ListCertificateAttributes`.\r\n\r\nA certificate is a document stored in either AvaTax Exemptions or CertCapture.  The certificate document\r\ncan contain information about a customer's eligibility for exemption from sales or use taxes based on\r\ncriteria you specify when you store the certificate.  To view or manage your certificates directly, please \r\nlog onto the administrative website for the product you purchased.\r\n\r\nUsing exemption certificates endpoints requires setup of an auditable document storage for each company that will use certificates.\r\nCompanies that do not have this storage system set up will receive the error `CertCaptureNotConfiguredError` when they call exemption\r\ncertificate related APIs.  To check if this company is set up, call `GetCertificateSetup`.  To request setup of the auditable document \r\nstorage for this company, call `RequestCertificateSetup`.",
        "operationId": "LinkAttributesToCertificate",
        "consumes": [
          "application/json",
          "text/json",
          "application/json-patch+json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "The unique ID number of the company that recorded this certificate",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "id",
            "in": "path",
            "description": "The unique ID number of this certificate",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "attributes",
            "in": "body",
            "description": "The list of attributes to link to this certificate.",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CertificateAttributeModel"
              }
            }
          },
          {
            "name": "X-Avalara-Client",
            "in": "header",
            "description": "Identifies the software you are using to call this API.  For more information on the client header, see [Client Headers](https://developer.avalara.com/avatax/client-headers/) .",
            "required": false,
            "type": "string",
            "default": "Swagger UI; 18.3.1-176; Custom; 1.0"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/FetchResult[CertificateAttributeModel]"
            }
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "UserSecurity": [],
            "OauthSecurity": []
          }
        ]
      }
    },
    "/api/v2/companies/{companyId}/certificates/{id}/attributes/unlink": {
      "post": {
        "tags": [
          "Certificates"
        ],
        "summary": "Unlink attributes from a certificate",
        "description": "Unlink one or many attributes from a certificate.\r\n\r\nA certificate may have multiple attributes that control its behavior.  You may link or unlink attributes to a\r\ncertificate at any time.  The full list of defined attributes may be found using `ListCertificateAttributes`.\r\n\r\nA certificate is a document stored in either AvaTax Exemptions or CertCapture.  The certificate document\r\ncan contain information about a customer's eligibility for exemption from sales or use taxes based on\r\ncriteria you specify when you store the certificate.  To view or manage your certificates directly, please \r\nlog onto the administrative website for the product you purchased.\r\n\r\nUsing exemption certificates endpoints requires setup of an auditable document storage for each company that will use certificates.\r\nCompanies that do not have this storage system set up will receive the error `CertCaptureNotConfiguredError` when they call exemption\r\ncertificate related APIs.  To check if this company is set up, call `GetCertificateSetup`.  To request setup of the auditable document \r\nstorage for this company, call `RequestCertificateSetup`.",
        "operationId": "UnlinkAttributesFromCertificate",
        "consumes": [
          "application/json",
          "text/json",
          "application/json-patch+json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "The unique ID number of the company that recorded this certificate",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "id",
            "in": "path",
            "description": "The unique ID number of this certificate",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "attributes",
            "in": "body",
            "description": "The list of attributes to unlink from this certificate.",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CertificateAttributeModel"
              }
            }
          },
          {
            "name": "X-Avalara-Client",
            "in": "header",
            "description": "Identifies the software you are using to call this API.  For more information on the client header, see [Client Headers](https://developer.avalara.com/avatax/client-headers/) .",
            "required": false,
            "type": "string",
            "default": "Swagger UI; 18.3.1-176; Custom; 1.0"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/FetchResult[CertificateAttributeModel]"
            }
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "UserSecurity": [],
            "OauthSecurity": []
          }
        ]
      }
    },
    "/api/v2/companies/{companyId}/certificates/{id}/customers": {
      "get": {
        "tags": [
          "Certificates"
        ],
        "summary": "List customers linked to this certificate",
        "description": "List all customers linked to this certificate.\r\n\r\nCustomers must be linked to a certificate in order to make use of its tax exemption features.  You\r\ncan link or unlink customers to a certificate at any time.\r\n\r\nA certificate is a document stored in either AvaTax Exemptions or CertCapture.  The certificate document\r\ncan contain information about a customer's eligibility for exemption from sales or use taxes based on\r\ncriteria you specify when you store the certificate.  To view or manage your certificates directly, please \r\nlog onto the administrative website for the product you purchased.\r\n\r\nUsing exemption certificates endpoints requires setup of an auditable document storage for each company that will use certificates.\r\nCompanies that do not have this storage system set up will receive the error `CertCaptureNotConfiguredError` when they call exemption\r\ncertificate related APIs.  To check if this company is set up, call `GetCertificateSetup`.  To request setup of the auditable document \r\nstorage for this company, call `RequestCertificateSetup`.",
        "operationId": "ListCustomersForCertificate",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "The unique ID number of the company that recorded this certificate",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "id",
            "in": "path",
            "description": "The unique ID number of this certificate",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$include",
            "in": "query",
            "description": "OPTIONAL: A comma separated list of special fetch options.  \r\n            No options are currently available when fetching customers.",
            "required": false,
            "type": "string"
          },
          {
            "name": "X-Avalara-Client",
            "in": "header",
            "description": "Identifies the software you are using to call this API.  For more information on the client header, see [Client Headers](https://developer.avalara.com/avatax/client-headers/) .",
            "required": false,
            "type": "string",
            "default": "Swagger UI; 18.3.1-176; Custom; 1.0"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/FetchResult[CustomerModel]"
            }
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "UserSecurity": [],
            "OauthSecurity": []
          }
        ]
      }
    },
    "/api/v2/companies/{companyId}/certificates/{id}/customers/link": {
      "post": {
        "tags": [
          "Certificates"
        ],
        "summary": "Link customers to a certificate",
        "description": "Link one or more customers to an existing certificate.\r\n\r\nCustomers and certificates must be linked before a customer can make use of a certificate to obtain\r\na tax exemption in AvaTax.  Since some certificates may cover more than one business entity, a certificate\r\ncan be connected to multiple customer records using the `LinkCustomersToCertificate` API.\r\n\r\nA certificate is a document stored in either AvaTax Exemptions or CertCapture.  The certificate document\r\ncan contain information about a customer's eligibility for exemption from sales or use taxes based on\r\ncriteria you specify when you store the certificate.  To view or manage your certificates directly, please \r\nlog onto the administrative website for the product you purchased.\r\n\r\nUsing exemption certificates endpoints requires setup of an auditable document storage for each company that will use certificates.\r\nCompanies that do not have this storage system set up will receive the error `CertCaptureNotConfiguredError` when they call exemption\r\ncertificate related APIs.  To check if this company is set up, call `GetCertificateSetup`.  To request setup of the auditable document \r\nstorage for this company, call `RequestCertificateSetup`.",
        "operationId": "LinkCustomersToCertificate",
        "consumes": [
          "application/json",
          "text/json",
          "application/json-patch+json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "The unique ID number of the company that recorded this certificate",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "id",
            "in": "path",
            "description": "The unique ID number of this certificate",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "customers",
            "in": "body",
            "description": "The list of customers needed be added to the Certificate for exemption",
            "required": false,
            "schema": {
              "$ref": "#/definitions/LinkCustomersModel"
            }
          },
          {
            "name": "X-Avalara-Client",
            "in": "header",
            "description": "Identifies the software you are using to call this API.  For more information on the client header, see [Client Headers](https://developer.avalara.com/avatax/client-headers/) .",
            "required": false,
            "type": "string",
            "default": "Swagger UI; 18.3.1-176; Custom; 1.0"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/FetchResult[CustomerModel]"
            }
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "UserSecurity": [],
            "OauthSecurity": []
          }
        ]
      }
    },
    "/api/v2/companies/{companyId}/certificates/{id}/customers/unlink": {
      "post": {
        "tags": [
          "Certificates"
        ],
        "summary": "Unlink customers from a certificate",
        "description": "Unlinks one or more customers from a certificate.\r\n\r\nUnlinking a certificate from a customer will prevent the certificate from being used to generate\r\ntax exemptions for the customer in the future.  If any previous transactions for this customer had\r\nused this linked certificate, those transactions will be unchanged and will still have a link to the\r\nexemption certificate in question.\r\n\r\nA certificate is a document stored in either AvaTax Exemptions or CertCapture.  The certificate document\r\ncan contain information about a customer's eligibility for exemption from sales or use taxes based on\r\ncriteria you specify when you store the certificate.  To view or manage your certificates directly, please \r\nlog onto the administrative website for the product you purchased.\r\n\r\nUsing exemption certificates endpoints requires setup of an auditable document storage for each company that will use certificates.\r\nCompanies that do not have this storage system set up will receive the error `CertCaptureNotConfiguredError` when they call exemption\r\ncertificate related APIs.  To check if this company is set up, call `GetCertificateSetup`.  To request setup of the auditable document \r\nstorage for this company, call `RequestCertificateSetup`.",
        "operationId": "UnlinkCustomersFromCertificate",
        "consumes": [
          "application/json",
          "text/json",
          "application/json-patch+json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "The unique ID number of the company that recorded this certificate",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "id",
            "in": "path",
            "description": "The unique ID number of this certificate",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "customers",
            "in": "body",
            "description": "The list of customers to unlink from this certificate",
            "required": false,
            "schema": {
              "$ref": "#/definitions/LinkCustomersModel"
            }
          },
          {
            "name": "X-Avalara-Client",
            "in": "header",
            "description": "Identifies the software you are using to call this API.  For more information on the client header, see [Client Headers](https://developer.avalara.com/avatax/client-headers/) .",
            "required": false,
            "type": "string",
            "default": "Swagger UI; 18.3.1-176; Custom; 1.0"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/FetchResult[CustomerModel]"
            }
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
[...]
