---
layout: default
---
<div class="breadcrumbs blog">
    <div class="col-md-12">
        <ul class="pipe">
            <li class="text-uppercase">Resources</li>
            <li class="text-uppercase"><a href="/resources/webinars">Developer Webinars</a></li>
            <li class="text-uppercase">{{page.title}}</li>
        </ul>
    </div>
</div>
<br />

<div class="half">
    <h1>{{ page.title }}{% if page.subtitle %}<small>{{ page.subtitle }}</small>{% endif %}</h1>
    <h2>{{ page.date | date: " %A, %B %d, %Y at %I:%M %p"}}</h2>
    <p class="blog-content">{{ content }}</p>
</div>

{% if page.linkurl %}
    <p class="btn-callout"><a href="{{ page.linkurl }}" role="button">Sign Up Now</a></p>
{% endif %}

{% if page.youtube %}
    <iframe width="560" height="315" src="{{ page.youtube }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
{% endif %}